body {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2%;
    padding-top: 2em;
}

#grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    
    width: 560px;
    height: 560px;
    border: 3px solid black;
    
    

    
    /* grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20% ; */

}

.grid-element {
    width: 30px;
    height: 30px;
    border: 1px solid gray;
}